<h1><%= @restaurant.name %></h1>
<p> address : <%= @restaurant.address %> </p>
<p> category : <%= @restaurant.category %> </p>
<hr>
<% @restaurant.reviews.each do |review| %>
<%= review.content %>
<hr>
<% end %>
<%= link_to "Add a new review", new_restaurant_review_path(@restaurant) %>